@font-face {
    font-family: "mainFont";
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "mainFont", sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255);
    text-align: center;
    padding-left: 10px;
    height : 40px;

    color :#000;
    z-index : 2;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.images-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.images-container img {
  height: 30px;
  width: auto;
}

.buttons-container {
  display: flex;
  align-items: center;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}




.modal {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    z-index: 1000;
    display: none;
    overflow-y: auto;
}

#events-list, #news-list {
    position: fixed;
    right: 0;
    top: 40px;
    width: 20%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#full-event-modal, #full-news-modal {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1em;
    width: auto;
    height: auto;
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal-content {
    position: relative;
    width: 100%;
    height: 100%;
}


